*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.head{
  min-height: 100vh;
  width: 100%;
  background-image: url("https://github.com/KanakamSasikalyan/Algebra/blob/main/images/Algebra14.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.head ul{
  text-align: right;
  padding: 50px;
}
.head ul li{
  display: inline-block;
  padding: 8px 12px;
}

.head ul li a{
  text-decoration: none;
  color: #ffffff;
}

.head h1{
  font-family: 'Sofia', cursive;
  font-size: 60px;
  text-align: center;
  padding-top: 40px;
  color: #ffffff;
}

.head p{
  font-size: 25px;
  text-align: center;
  padding-top: 8px;
}
.head a{
  text-decoration: none;
  color: #e0ebeb;
}
.head a:hover{
  color: #ff9900;
  transition: 0.5s;
}

.body{
  text-align: center;
}

.body h1{
  font-size: 20px;
  color: black;
  padding: 10px 8px;
  text-align: center;
  background: #cffdbc;
  border: 2px solid #e0ebeb;
  border-radius: 50px;
}

.body ul{
  display: inline-block;
  padding: 50px;
  text-align: left;
}

.body ul li{
  padding: 30px 20px;
}

.body ul li a{
  text-decoration: none;
  color: #0000ff;
}

.body ul li a:hover{
  color: #ff0000;
  transition: 0.2s;
}

.coding{
  padding: 5px;
  text-align: center;
}

.coding h1{
  font-size: 20px;
  padding: 10px 12px;
  background: #cffdbc;
  border-radius: 50px;
}

.coding ul{
  text-align: center;
  display: inline-block;
  padding: 60px;
}

.coding ul li{
  padding: 30px 20px;
  text-align: left;

}

.coding ul li a{
  text-decoration: none;
  color: #0000ff;
}

.coding ul li a:hover{
  color: #ff0000;
  transition: 0.2s;
}

.about{
  text-align: center;
}
.about h1{
  font-size: 20px;
  padding: 10px 12px;
  background: #cffdbc;
  border-radius: 50px;
}

.about p{
  padding: 20px;
}

.footer p{
  text-align: center;
  font-size: 12px;
  padding: 8px;
  background: #80ffaa;
}
