*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#header{
    height: 100vh;
    width: 100%;
    background-image: url(images/420593.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


.container{
    margin-left: 100px;
    margin-right: 100px;
}


@media (max-width: 767px) {
    .container{
        40px;
    }
}


.logo{
/*    margin-top: 30px;*/
    font-size: 60px;
    width: 100px;
}

@media (max-width: 767px){
    .logo{
        padding-top: 50px;
        font-size: 30px;
        width: 100px;
        
    }
}

.header-txt{
    max-width: 350px;
    margin-top: 5px;
    color: darkorange;
}

@media (max-width: 767px){
    .header-txt{
        color: #fff;
        font-size: 10px;
    }
}


/*
.header-txt h1{
    color: #6666ff;
}
*/

.read-btn{
    margin-top: 20px;
    width: 130px;
    height: 40px;
    border: 2px solid #3333ff;
    font-size: 15px;
}


#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: darkorange;
    z-index: 2;
    transition: 0.5s;
}



nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

@media (max-width: 767px){
    #menuBtn{
        width: 40px;
        position: absolute;
        right: 20px;
        top: 50px;
        z-index: 2;
        cursor: pointer;
    }
}

/*---------------------------about-us----------------------------*/
#about-us{
    margin-top: 30px;
    color: darkorange;
}

.community{
    margin: 0 120px;
}

@media (max-width: 767px){
    .community{
        margin: 0 41px;
        text-align: justify;
    }
}

.community h2{
    text-align: center;
}

.community p{
    color: #191717;
}



.contribute{
    margin: 20px 120px;
}

@media (max-width: 767px){
    .contribute{
        margin: 20px 41px;
        text-align: justify;
    }
}

.contribute h2{
    text-align: center;
}

.contribute p{
    color: #191717;
}

.projects{
    margin: 0px 120px 60px;
}

@media (max-width: 767px){
    .projects{
        margin: 0px 41px 60px;
        text-align: justify;
    }
}

.projects h2{
    text-align: center;
}

.projects p{
    color: #191717;
}

/*---------------------------spaces------------------------------*/
#spaceheader{
    height: 100vh;
    width: 100%;
    background-image: url("images/5445590.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}



#newlogo{
    color: #fff;
}

.space-txt{
    margin-top: 15%;
    text-align: center;
    font-size: 60px;
    color: #fff;
}

.spaces-body{
    height: 50vh;
    margin-top: 40px;
    text-align: center;
}

.spaces-body h1{
    font-size: 30px;
}

.spaces-body p{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
}

.meet{
    margin-top: 45px;
}

.meet-link{
    text-decoration: none;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 14px;
    background: #3333ff;
    color: #fff;
}

.meet a:hover{
    background: #ff3300;
    color: #000;
    transition: .5s;
}



/*-----------------------------meet.html----------------------------*/

.meet-head{
    min-height: 90vh;
    width: 100%;
/*
    background-image: url("images/5559852.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
*/
    background: darkorange;
    margin-top: 50px;
    text-align: center;
}
.meet-head h1{
    color: #fff;
    font-size: 50px;
    margin-left: 30px;
}

@media (max-width: 767px){
    .meet-head h1{
        color: #fff;
        font-size: 30px;
        margin-left: 10px;
        text-align: center;
    }
}

.meet-head p{
    margin: 40px 100px;
    color: #fff;
    text-align: justify;
}

@media (max-width: 767px){
    .meet-head p{
        margin: 40px 35px;
        color: #fff;
        text-align: justify;
    }
}

#start{
    margin-top: 50px;
    width: 10%;
    font-size: 18px;
}

@media (max-width: 767px){
    #start{
        margin-top: 50px;
        width: 50%;
        font-size: 18px;
    }
}

.meet-head a{
    text-decoration: none;
    color: #000;
}

#jitsi-container{
    margin-top: 40px;
}

@media (max-width:767px){
        #jitsi-container{
            width: 300;
            height: 300;
        }   
}

#dev p{
    text-align: center;
}



/*----------------------------aboutus------------------------------*/

#aboutheader{
    min-height: 50vh;
    width: 100%;
    background-image: url("images/5539119.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.new-txt{
    margin-top: 6%;
    font-size: 35px;
}

#community{
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

#community h3{
    font-size: 25px;
}

#community p{
    margin-top: 15px;
    font-size: 18px;
    text-align: left;
}

.contributors h3{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}

.contributors ul{
    text-align: center;
}
.contributors ul li{
    margin: 10px 50px 10px 50px;
    list-style: none;
}

.contributors ul li a{
    text-decoration: none;
    font-size: 20px;
    color: blue;
}

/*----------------------------footer-------------------------------*/
#footer{
    width: 100%;
    background: darkorange;
}



#footer ul{
    text-align: center;
    font-size: 14px;
} 

#footer ul li{
    list-style-type: none;
    display: inline-block;
    padding: 50px;
}

#footer ul li a{
    text-decoration: none;
    color: #101010;
}

#footer p{
    color: #101010;;
    text-align: center;
    padding-bottom: 30px;
}

#footer a{
    text-decoration: none;
    color: #4234b1;
}

@media (max-width: 767px){
    #footer ul li{
        padding: 10px;
        font-size: 14px;
    }
}





